.hidden {
    display: none;
}

.icon-right {
    float:right;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    text-decoration:none;
}

.mini-progress-bar{
    height: 4px;
}